* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: linen;
  text-align: center;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: rgb(0, 0, 0);
  line-height: 2.5;
}

.navbar {
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#time {
  padding: 4px;
  background-color: rgba(158, 98, 237, 0.804);
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

button {
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  font-weight: bold;
  background-color: lightgrey;
  /* border-radius: 10px;
    border-width: 0px; */
}

button:hover {
  color: red;
  background-color: yellow;
}
table {
  border-collapse: collapse;
} /*이중선 제거*/
th,
td {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid #000;

  vertical-align: top; /* 위 */
  vertical-align: bottom; /* 아래 */
  vertical-align: middle; /* 가운데 */
}

.animate {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  align-items: center;
}
.transition {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transition: width 2s, height 2s, background-color 2s;
  align-items: center;
}
.transition:hover {
  width: 200px;
  height: 200px;
  background-color: rgb(228, 9, 122);
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: antiquewhite;
  border-radius: 5%;
  margin: 2rem 0;
  align-items: center;
}
#vline {
  border-left: thick solid oldlace;
  height: 430px;
  margin-left: 20px;
  margin-right: 20px;
}
figure {
  margin: 2rem;
  border-radius: 5%;
  background-color: transparent;
  padding: 1rem;
}
figure img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: thick dotted rgb(112, 111, 110);
}
.info-content {
  margin: 1rem;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.info-content div,
.info-content #icons {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}
.info-content div a,
.info-content div a:hover {
  text-decoration: none;
  color: inherit;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.info-content strong {
  font-weight: bold;
}
#icons img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.mbti-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#mbti-text {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 2;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
}
#mbti-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #333;
  position: relative;
  z-index: 1;
  max-width: 100%;
}

/* Favorites Section */
.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorites img {
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 6px;
  transition: transform 0.3s;
}
.favorites img:hover {
  transform: scale(1.3);
}
.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 1.3rem;
  margin: 8px 0px;
}

.line::before {
  content: '---------------------';
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content: '---------------------';
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
